.user-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    margin-bottom: 0.5em;
    box-shadow: 0.2em 0.2em #282c34;
    border-radius: 0.5em;
    width: 30em;
    padding: 0.5em;
}

.user-name {
    display: flex;
    flex-direction: row;
}

@media (max-width: 540px) {

.user-list {
    width: 80%;
 }
}
