.appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointments > strong {
    font-size: x-large;
}

.appointments-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.appointment-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 12em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: lightgray;
}

.page-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: lightgray;
    text-decoration: underline;    
}