.new-appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.appointForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.short-input {
    padding-left: 1rem;
    border-radius: 0.6rem;
    width: 5.5em;
    margin: 0.6rem 0rem;
    height: 1.6rem;
}

.date-input {
    width: 11em;
    padding-left: 1rem;
    border-radius: 0.6rem;
    margin: 0.6rem 0rem;
    height: 1.6rem;
}

.sub-btn {
    width: 5em;
    margin-bottom: 1em;
}