.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
    margin: 2rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Keyframe del logo */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Body */

.App-body {
  min-height: 84vh;
  color: white;
  background-image: url(./banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Buttons */

.button {
  border-radius: 1rem;
  border-style: none;
  color: black;
  background-color: white;
}

.button:hover {
  background-color: lightblue;
  transition: 0.4s;
}

/* Inputs */

.input {
  padding-left: 1rem;
  border-radius: 0.6rem;
}

/* Footer */

.App-footer {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
